* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #149691;
	font-family: 'Bellefair', serif;
	overflow-x: hidden;
	overflow-y: hidden;
}

h1 {
	font-family: 'Pacifico', cursive;
	text-align: center;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 50px;
	position: relative;
	color: grey;
}

p {
	font-size: 16px;
	color: #FFF;
	font-weight: bold;
	z-index: 10;
}

#header-wrapper {
	background: url("../img/header-back.jpeg") no-repeat center;
	background-size: cover;
	height: 100vh;
	background-attachment: fixed;
	min-height: 600px;
	position: relative;
}

#piano-container {
	background: linear-gradient(0deg, rgb(0,0,0), rgb(64,64,64));
	background-attachment: fixed;
	position: relative;
	top: 100px;
	height: 45%;
	width: 80%;
	left: 0;
	right: 0;
	margin: 0 auto;
	border-radius: 15px;
}

nav {
	position: fixed;
	width: 100%;
	text-align: center;
	top: 50px;
	z-index: 20;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	text-transform: uppercase;
	color: #f0f0f0;
	margin: 10px 20px;
	font-size: 22px;
	text-decoration: none;
	display: block;
	position: relative;
}

nav ul li a,
nav ul li a:after {
  transition: all .5s;
}

nav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #f0f0f0;
  height: 1px;
}

nav ul li a:hover:after {
  width: 100%;
}

.keys {
	position: absolute;
	top: 40%;
	background-color: transparent;
	width: 95%;
	left: 0;
	right: 0;
	margin: 0 auto;
	height: 60%;
}

.single-key-white {
	position: absolute;
	z-index: 20;
	height: 100%;
	width: 2.7777%;
	border: solid;
	border-color: black;
	box-sizing: border-box;
	border-width: 1px 0.5px 1px 1px;
	background: linear-gradient(0deg, rgb(224,224,224), rgb(224,224,224) 5%, rgb(255,255,255));
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.single-key-black {
	position: absolute;
	z-index: 30;
	background-color: rgb(0,0,0);
	height: 70%;
	width: 1.5%;
	left: 2.0277%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#instructions {
	position: relative;
	top: 110px;
	height: 20px;
	text-transform: uppercase;
	text-weight: normal;
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

#span-wrapper {
	position: relative;
	background: transparent;
	min-height: 100px;
	width: 80%;
	top: 130px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.spans#black {
	position: absolute;
	width: 100%;
	height: 50%;
	background: rgba(0, 0, 0, 0.8);
	z-index: 10;
	display: flex;
	justify-content: center;
}


.single-letter {
	flex: 1;
	display: flex;
	position: relative;
}

.single-letter p {
	font-size: 18px;
}


/* Progress-bar class */
.single-letter-follow {
	flex: 1;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	background: #149691;
	height: 100%;
}

.single-letter p {
	text-align: center;
	margin: 0 auto;
	align-self: center;
}

.spans#glossary {
	position: absolute;
	width: 100%;
	height: 50%;
	top: 50%;
	background: transparent;
	z-index: 10;
}

.spans p {
	text-align: center;
}

#plain-color-1 {
	background: #4F524E;
	height: 100vh;
	background-attachment: fixed;
}

#plain-color-2 {
	background: #149691;
	height: 100vh;
	background-attachment: fixed;
}

#songs-outer {
	background: url("../img/song-back2.jpeg") no-repeat center;
	background-size: cover;
	height: 100vh;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	transition: all 20s;
	-moz-transition: all 20s;
	-webkit-transition: all 20s;
	-o-transition: all 20s;
	-ms-transition: all 20s;
	max-height: 800px;
}

/* background to transform section */
#songs-outer-scrollto {
	position: absolute;
	height: 100vh;
	top: 300vh;
	z-index: -5;
	background-color: #149691;
	width: 100%;
	left: 0;
}

/* Dynamic added transition class */
.transition {
	transform : scale(1.25);
	-moz-transform : scale(1.25);
	-webkit-transform : scale(1.25);
	-o-transform : scale(1.25);
	-ms-transform : scale(1.25);
}

#songs-inner {
	position: relative;
	top: -80vh;
	width: 100%;
	text-align: center;
	height: 100%;
}

.single-song {
	width: 60%;
	height: 50px;
	margin: 1% auto;
	background: rgba(0,0,0,0.6);
	border-radius: 25px;
	z-index: 10;
	text-align: center;
	cursor: pointer;
}

.single-song:hover {
	background: rgba(0,0,0,0.9);
}

.single-song p {
	line-height: 50px;
}

#buttons-section {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 60px;
}

#buttons-wrapper {
	display: inline-block;
}

.single-button {
	height: 40px;
	width: 100px;
	background-color: #149691;
	border-radius: 20px;
	display: inline-block;
	margin: 0 10px;
	cursor: pointer;
}

.single-button p {
	margin: 0;
	padding: 0;
	line-height: 40px;
	text-transform: uppercase;
}

#contact-wrapper {
	height: 100vh;
	background:	#303030;
}

#contact-inner-wrapper {
	top: 150px;
	position: relative;
	margin: 0 auto;
	width: 60%;
	height: 60%;
}

.contact-box {
	position: absolute;
}

#description-aside {
	left: 40%;
	width: 40%;
	z-index: 10;
	height: 100%;
	padding: 0 10%;
	background-color: rgba(0,0,0,0.7);
}

#photo-div {
	left: 0%;
	width: 50%;
	height: 100%;
}

#photo-div img {
	max-height:100%;
}

#description-aside h1 {
	top: 0;
	color: #149691;
}

#description-aside p {
	text-align: center;
	padding: 3%;
	font-size: 16px;
}

#description-aside a {
	color: inherit !important;
	text-decoration: none !important;
}

#browser-choice {
	width: 80%;
	height: 30px;
	position: fixed;
	bottom: 0;
	text-align: center;
	left: 0;
	right: 0;
	margin: 0 auto;
	background-color: rgba(0,0,0,0.8);
}

/* Fixed frame */

.frame {
	position: fixed;
	background-color: rgba(0,0,0,0.8);
}

#frame-top {
	top: 0;
	height: 15px;
	width: 100%;
}

#frame-bottom {
	bottom: 0;
	height: 15px;
	width: 100%;
}

#frame-left {
	left: 0px;
	top: 0px;
	width: 15px;
	height: 100%;
}

#frame-right {
	right: 0px;
	top: 0px;
	width: 15px;
	height: 100%;
}

#overlay {
	height: 100vh;
	background-color: rgba(0,0,0,0.8);
	text-align: center;
	position: fixed;
}


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	#piano-container {
		top: 90px;
		height:	35%;
	}
	p {
		font-size: 14px;
		font-weight: bold;
	}
	h1 {
		font-size: 18px;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	#piano-container {
		top: 90px;
		height:	30%;
	}
	#span-wrapper {
		position: relative;
		background: transparent;
		min-height: 80px;
		width: 80%;
		top: 120px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	p {
		font-size: 12px;
		font-weight: bold;
	}
	.single-letter p {
		font-size: 14px;
	}
	h1 {
		font-size: 14px;
	}
	nav ul li a {
		font-size: 18px;
	}
	#description-aside p {
		text-align: center;
		padding: 2%;
		font-size: 12px;
	}
}

/* Landscape phones and down */
@media (max-width: 580px) {
	#piano-container {
		top: 90px;
		height:	20%;
	}
	nav ul li a {
		margin: 2px 5px;
		font-size: 14px;
	}
	#span-wrapper {
		position: relative;
		background: transparent;
		min-height: 40px;
		width: 80%;
		top: 150px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	p {
		font-size: 10px;
	}
	.single-letter p {
		font-size: 10px;
	}
	h1 {
		font-size: 10px;
	}

	.single-button {
		height: 20px;
		width: 50px;
		border-radius: 10px;
		margin: 0 5px;
	}

	.single-button p {
		line-height: 20px;
	}

	#description-aside {
		left: 0%;
		width: 60%;
		padding: 0 1%;
	}

	#description-aside p {
		text-align: center;
		font-size: 8px
	}

	#contact-inner-wrapper {
		top: 150px;
		position: relative;
		height: 30%;
	}

}
