* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #F8F8F8;
}

h1 {
	font-family: 'Pacifico', cursive;
	position: relative;
	text-align: center;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 50px;
}

#piano-container {
	background: linear-gradient(0deg, rgb(0,0,0), rgb(64,64,64));
	position: relative;
	top: 80px;
	height: 300px;
	width: 80%;
	left: 0;
	right: 0;
	margin: 0 auto;
	border-radius: 15px;
}

#whites {
	position: absolute;
	top: 120px;
	background-color: transparent;
	z-index: 10;
	height: 180px;
	width: 95%;
	left: 0;
	right: 0;
	margin: 0 auto;
}

#black {
	position: absolute;
	top: 120px;
	background-color: transparent;
	z-index: 20;
	height: 120px;
	width: 95%;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.single-key-white {
	position: absolute;
	z-index: 20;
	height: 180px;
	width: 2.7777%;
	border: solid;
	border-color: black;
	box-sizing: border-box;
	border-width: 1px 0.5px 1px 1px;
	background: linear-gradient(0deg, rgb(224,224,224), rgb(224,224,224) 5%, rgb(255,255,255));
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.single-key-black {
	position: absolute;
	z-index: 30;
	background-color: rgb(0,0,0);
	height: 120px;
	width: 1.5%;
	left: 2.0277%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
