* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #F8F8F8;
	font-family: 'Bellefair', serif;
	overflow-x: hidden;
}

h1 {
	font-family: 'Pacifico', cursive;
	text-align: center;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 50px;
	position: relative;
	color: grey;
}

p {
	font-size: 18px;
	color: #FFF;
	font-weight: bold;
	z-index: 10;
}

#header-wrapper {
	background: url("../img/header-back.jpeg") no-repeat center;
	background-size: cover;
	height: 100vh;
	background-attachment: fixed;
	min-height: 600px;
	position: relative;
}

#piano-container {
	background: linear-gradient(0deg, rgb(0,0,0), rgb(64,64,64));
	background-attachment: fixed;
	position: relative;
	top: 120px;
	height: 300px;
	width: 80%;
	left: 0;
	right: 0;
	margin: 0 auto;
	border-radius: 15px;
}

nav {
	position: fixed;
	width: 100%;
	text-align: center;
	top: 50px;
	z-index: 20;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	text-transform: uppercase;
	color: #f0f0f0;
	margin: 10px 20px;
	font-size: 22px;
	text-decoration: none;
	display: block;
	position: relative;
}

nav ul li a,
nav ul li a:after {
  transition: all .5s;
}

nav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #f0f0f0;
  height: 1px;
}

nav ul li a:hover:after {
  width: 100%;
}

.keys {
	position: absolute;
	top: 120px;
	background-color: transparent;
	width: 95%;
	left: 0;
	right: 0;
	margin: 0 auto;
}

#whites {
	z-index: 10;
	height: 180px;
}

#black {
	z-index: 20;
	height: 120px;
}

.single-key-white {
	position: absolute;
	z-index: 20;
	height: 180px;
	width: 2.7777%;
	border: solid;
	border-color: black;
	box-sizing: border-box;
	border-width: 1px 0.5px 1px 1px;
	background: linear-gradient(0deg, rgb(224,224,224), rgb(224,224,224) 5%, rgb(255,255,255));
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.single-key-black {
	position: absolute;
	z-index: 30;
	background-color: rgb(0,0,0);
	height: 120px;
	width: 1.5%;
	left: 2.0277%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#instructions {
	position: relative;
	top: 130px;
	height: 20px;
	text-transform: uppercase;
	text-weight: normal;
	text-align: center;
}

#span-wrapper {
	position: relative;
	background: transparent;
	min-height: 100px;
	width: 80%;
	top: 140px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.spans#black {
	position: absolute;
	width: 100%;
	height: 50%;
	background: rgba(0, 0, 0, 0.8);
	z-index: 10;

	display: flex;
	justify-content: center;
}

.single-letter {
	flex: 1;
	display: flex;
	position: relative;
}


/* Progress-bar class */
.single-letter-follow {
	flex: 1;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	background: #149691;
	height: 100%;
}

.single-letter p {
	text-align: center;
	margin: 0 auto;
	align-self: center;
}

.spans#glossary {
	position: absolute;
	width: 100%;
	height: 50%;
	top: 50%;
	background: transparent;
	z-index: 10;
}

.spans p {
	text-align: center;
}

#plain-color-1 {
	background: #4F524E;
	height: 100vh;
	background-attachment: fixed;
}

#plain-color-2 {
	background: #149691;
	height: 100vh;
}

#songs-outer {
	background: url("../img/song-back2.jpeg") no-repeat center;
	background-size: cover;
	height: 100vh;
	height: 100vh;
	background-attachment: fixed;
	position: relative;
	transition: all 20s;
	-moz-transition: all 20s;
	-webkit-transition: all 20s;
	-o-transition: all 20s;
	-ms-transition: all 20s;
}

/* Dynamic added transition class */
.transition {
	transform : scale(1.25);
	-moz-transform : scale(1.25);
	-webkit-transform : scale(1.25);
	-o-transform : scale(1.25);
	-ms-transform : scale(1.25);
}

#songs-inner {
	position: relative;
	top: -80vh;
	width: 100%;
	text-align: center;
	height: 50px;
}

.single-song {
	width: 50%;
	height: 100%;
	margin: 10px auto;
	background: rgba(0,0,0,0.6);
	border-radius: 25px;
	z-index: 10;
}

#buttons-section {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 30px;
}

#buttons-wrapper {
	display: inline-block;
}

.single-button {
	height: 40px;
	width: 100px;
	background-color: #149691;
	border-radius: 20px;
	display: inline-block;
	margin: 0 10px;
	cursor: pointer;
}

.single-button p {
	margin: 0;
	padding: 0;
	line-height: 40px;
	text-transform: uppercase;
}
